.top {
    height:300px;
    background-color:#1f2937;
    color:white;
}

.header_links {
    height:20px;
    display:flex;
    justify-content:flex-end;
    gap:20px;
    position:relative;
    padding: 10px 50px;
    margin-bottom: 50px;
}

.logo {
    margin-right:auto;
}

img#tree {
    height:50px;
    width:auto;
}

.p1 {
    display:flex;
    flex-direction:row;
    padding: 0px 50px;
    justify-content:center;
    align-items:flex-start;
}

.p1.text {
    display:flex;
    flex-direction: column;
}

.hero.primary {
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8
}

.hero.secondary {
    font-size:18px;
     color:#e6e7eb
}

img#woods {
    height:150px;
    width: auto;
    float:right;
}

.bottom {
    display:flex;
    flex-direction:column;
    background-color: white;
    align-items: center;
}

header {
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    margin:30px;
}

.img_list {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;
}

img.img_item {
    border-radius:10px;
    border:1px solid lightblue;
    max-height:110px;
    max-width:100px;
    height:110px;
    width:100px;
}

.img_text {
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:110px;
    width:100px;
    gap:10px;
}





