body {
    width:100%;
    height:100%;
}

.top {
    display:flex;
    width:100%;
    height:300px;
    border:5px solid green;
    background-color:#1f2937;
    color:white;
}

.header_links {
    display:flex;
    justify-content:flex-end;
    height:20px;
    width:100%;
    border:5px solid brown;
    padding: 20px;
    background-color:yellow;
    gap:20px;
}

.logo {
    margin-right:auto;
}

.bottom {
    display:flex;
    width:100%;
    height:700%;
    background-color: white;
}