.top {
    height:300px;
    background-color:#1f2937;
    color:white;
}

.header_links {
    height:20px;
    display:flex;
    justify-content:flex-end;
    gap:20px;
    position:relative;
    padding: 10px 50px;
    margin-bottom: 50px;
}

.link a {
    color:white;
    text-decoration:none;
}

.logo {
    margin-right:auto;
}

img#tree {
    height:50px;
    width:auto;
}

.p1 {
    display:flex;
    flex-direction:row;
    padding: 0px 50px;
    justify-content:center;
    align-items:flex-start;
}

.p1.text {
    display:flex;
    flex-direction: column;
}

.hero.primary {
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8
}

.hero.secondary {
    font-size:18px;
     color:#e6e7eb
}

img#woods {
    height:150px;
    width: auto;
    float:right;
}

.bottom {
    display:flex;
    flex-direction:column;
    background-color: white;
    align-items: center;
}

header {
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    text-align:center;
    margin:30px;
}

.img_list {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;
}

img.img_item {
    border-radius:10px;
    border:1px solid lightblue;
    max-height:11em;
    max-width:10em;
    height:11em;
    width:10em;
}

.img_text {
    display: flex;
    justify-content:center;
    gap:30px;
    margin-bottom:100px;
}

.text_item {
    max-width: 10em;
    width:10em;
    height:auto;
    text-align:center;
}

.p3 {
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    background-color:#e5e7eb;
}

.quote {
    text-align:center;
    color: #1f2937;
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    max: width 60%;
    width:60%;
    padding:50px 60px 0px 60px;
}

.dead_person {
    align-self:flex-end;
    width:33%;
    padding: 0px 60px 40px 60px;
}

.p4 {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    width: 60%;
    margin: 40px;
    color: white;
    padding:30px 60px;
    border-radius:10px;
}

.coa {
    font-size:20px;
    font-weight:bold;
}

.sign_up {
    display:flex;
}

#button {
    border:3px solid white;
    display:block;
    border-radius: 5px;
    font-weight:bold;
    font-size:15px;
    background-color:#3882f6;
    color:white;
    padding: 5px;
    margin-left:auto;
    position: relative;
    bottom: 10px;
}

#button a{
    text-decoration:none;
    color:white;
}

#button a:hover {
    background-color:darkblue;
    display:block;
    color: white;
}

#button a:active {
    background-color: yellow;
    color: white;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%; 
    height:50px;   
    background-color:#1f2937;
    color:white;
}